html,
body {
    margin: 0;
    height: 100%;
}


body {
    display: center;
    justify-content: space-between;
    background-color: var(--global-primary-color);
    font-family: var(--primary-font);
    margin: 4em 30em;
}

h1 {
    padding-bottom: 40px;
    font-size: 40px;
}


h2 {
    padding-bottom: 40px;
    font-size: 30px;
}


main {
    margin-top: 3em;
}

#task_form {
    display: flex;
    justify-content: space-between;
}

#task_form #new_task_submit {
    background-color: var(--global-primary-color);
    font-size: var(--font-size);
    border: none;
    background: var(--color-text);
    padding-left: 3em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#task_form #task_input {
    border: none;
    border-radius: var(--border-radius);
    padding-left: 20px;
    width: 100em;
}

.task_div {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.task_div .task_inp {
    border: none;
    border-radius: var(--border-radius);
    width: 50em;
    height: 3em;
}