:root {
    --global-primary-color: #2A1833;
    --primary-font: Arial, Helvetica, sans-serif;
    --font-size: 20px;
    --color-buttons: rgb(186, 28, 207);
    --color-text: #f0f8ff;
    --border-radius: 15px;
    --input_width-default: 70em;
    --input_height-default: 3em;
    --input-font_size: 20px;
}